/* Example for changing bootstrap's design */
/* .c-searchbox .form-control {
    padding: 50px;
} */


.c-searchbox {
    position: relative;
    padding: 50px;
}

.c-searchbox > .result-box {
    padding-left: 50px;
    position: absolute;
    direction: ltr;
    width: 95%;
    z-index: 10;
    max-height: 240%;
    overflow-y: scroll;
}

.list-group-item {
    direction: rtl;
}

input.form-control {
    font-weight: bold;
}