
.p-home-cards {
    padding: 5px;
    position: relative;
}

.p-home-cards .p-home-spinner {
    position: absolute;
    right: 400px;
}

.ui.pagination.menu {
    margin: 10px !important;
    direction: ltr;
}

.ui.dropdown .menu .selected.item {
    text-align: right;
    direction: rtl;
}

.ui.dropdown .menu>.item {
    text-align: right;
    direction: rtl;
}

.ui.selection.dropdown .menu>.item {
    text-align: right;
    direction: rtl;
}

.ui.fluid.dropdown {
    text-align: right;
    direction: rtl;
}